@tailwind base;
@tailwind components;
@tailwind utilities;

.dev {
  /* border: 2px solid red !important; */
}

p {
  margin-bottom: 1rem;
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li {
  position: relative;
  padding-left: 1.5em; /* Adjust the spacing as needed */
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em; /* Adjust the size as needed */
  height: 23px; /* Make the bullet take 100% height */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="100%" height="100%"><circle cx="12" cy="12" r="11"></circle><path d="M9 12l2 2 4-4"></path></svg>');
  background-repeat: no-repeat;
  background-position: center;
}
